


.container{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
body{
  background-color: black;
  box-sizing: border-box;
  font-family: monospace;
  font-size: x-large;
  color: white; 
  padding: 0;
  margin: 0;
}
#MainTemp{
  font-size:100px;
}
.btn{
   background:transparent;
   color: white;
   box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 1), 0 2.5rem 5rem 0 rgba(0, 0, 0, 1);
   border-radius: 15px;
   border:1px solid black;
   margin-bottom: 2vh;
   
}
.min-Max{
  font-size: large;
}
.iconGroup{
  text-align: center;
}
.mTContainer{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-template-rows: auto;
  gap: 15px;
  border-radius: 15px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 2.5rem 5rem 0 rgba(0, 0, 0, 0.1);
  padding: 5vw 5vw;
  width: 50vw;
  font-size: larger;
  margin-bottom: 2vh;
}
.sun{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-template-rows: auto;
  border-radius: 15px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 2.5rem 5rem 0 rgba(0, 0, 0, 0.1);
  padding: 5vw 5vw;
  gap: 15px;
  width: 50vw;
  align-items: center;
  text-align: center;
  margin-bottom: 2vh;
}
.sun img{
  height: 20vh;
}
.details{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-template-rows: auto;
  border-radius: 15px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 2.5rem 5rem 0 rgba(0, 0, 0, 0.1);
  padding: 5vw 5vw;
  gap: 15px;
  width: 50vw;
  margin-bottom: 2vh;
}

.description{
  grid-column: 1/-1;
  text-align: left;
  font-weight: lighter;
  opacity: 0.6;
}
.hgrid{
  grid-template-columns: 1fr;
  grid-auto-rows: auto;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 2.5rem 5rem 0 rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  gap: 0;
  margin-bottom: 2vh;
  
}
.desc{
  padding: 1vw 1vw 1vw 1vw;
  width: 100%;
  text-align: left;
  font-weight: lighter;
  opacity: 0.6;
  height: 2vh;
}
.hourly{
  display: flex;
  width: 50vw;
  padding: 5vw 5vw 5vw 5vw;
  justify-content: flex-start;
  overflow-x:scroll;
  
}

.hour{
  width: 5vw;
  margin-right: 3vw;
  text-align: center;

}
.hour img{
  width: 6vw;
}
.daily{
  display: flex;
  width: 50vw;
  padding: 5vw 5vw 5vw 5vw;
  
  justify-content: flex-start;
  overflow-x:scroll;
}
.day{
  width: 50%;
  margin-right: 3vw; 
  text-align: center;
}
.day img{
  width: 6vw;
}
.DailySun{
  display: grid;
  grid-template-columns: repeat(2,5vw);
  font-size: small;
  text-align: center;
  align-items: center;
}

@media screen and (max-width: 540px){
  body{
    font-size: small;
  }
  #MainTemp{
    font-size:70px;
  }
  .mTContainer{
    width: 80vw;
  }
  .hourly{
    width: 80vw;
    text-align: center;
  }
  .hour{
    width: 15vw;
    margin-right: 10vw;
  }
  .hour img{
    width: 15vw;
  }
  .daily{
    width: 80vw;

  }
  .day{
     width: 50vw;
   }
  .day img{
   width: 15vw;
  }
  .sun{
    width: 80vw;
  }
  .details{
    width: 80vw;
  }
  .DailySun{
    width: 35vw;
    gap:5vw;
    grid-template-columns: repeat(2,15vw);
  }


}